@page
@model CrossFitLibrary.Api.Pages.Account.Login

@{
    // Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form method="post">
    <h1 class="title">Login</h1>
    <input type="hidden" asp-for="Form.ReturnUrl" value="@Model.Form.ReturnUrl">
    <divc class="field">
        <label >Username</label>
        <input asp-for="Form.Username">
        <span asp-validation-for="Form.Username"></span>
    </divc>

    <div class="field">
        <label >Password</label>
        <input asp-for="Form.Password">
        <span asp-validation-for="Form.Password"></span>
    </div>
    @if (Model.CustomErrors.Count > 0)
    {
        <div class="field">
            @foreach (var error in Model.CustomErrors)
            {
                <div class="error">@error</div>
            }
        </div>
    }
    <div class="field flex-col">
        <button type="submit">Log In</button>
        <hr>
        <a asp-page="/Account/Register" asp-route-returnUrl="@Model.Form.ReturnUrl">
            Register
        </a>

    </div>

</form>

<style>
</style>